# Default ignored files
/shelf/
/workspace.xml
.idea/
bin/
conda-meta/
etc/
fonts/
include/
lib/
libexec/
man/
out/
sbin/
share/
ssl/
var/
x86_64-conda-linux-gnu/
x86_64-conda_cos6-linux-gnu/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
target/
.gitignore
keybindings.json
pom.xml
run_with_package.sh
run_without_package.sh
